@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: var(--color-slate-50);
    --color-zinc-100: var(--color-slate-100);
    --color-zinc-200: var(--color-slate-200);
    --color-zinc-300: var(--color-slate-300);
    --color-zinc-400: var(--color-slate-400);
    --color-zinc-500: var(--color-slate-500);
    --color-zinc-600: var(--color-slate-600);
    --color-zinc-700: var(--color-slate-700);
    --color-zinc-800: var(--color-slate-800);
    --color-zinc-900: var(--color-slate-900);
    --color-zinc-950: var(--color-slate-950);

    --color-accent: var(--color-indigo-500);
    --color-accent-content: var(--color-indigo-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-indigo-500);
        --color-accent-content: var(--color-indigo-300);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-slate-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

.dark [data-flux-input]>input {
    @apply bg-slate-700;
}

[data-flux-button],
[data-flux-icon],
[data-flux-modal-close],
[data-flux-navlist-item],
[data-flux-profile],
[data-flux-menu-item] {
    @apply  !cursor-pointer;
}

.shadow-inner {
    --tw-shadow: 0px 0px 1.5px 0.5px var(--color-slate-300) inset;
    --tw-shadow-colored: inset 0px 0px 1.5px 0.5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.dark .shadow-inner {
    --tw-shadow: 0px 0px 1.5px 0.5px var(--color-slate-700) inset,
        0px 0px 1.5px 0.5px var(--color-slate-800) inset;
    --tw-shadow-colored: inset 0px 0px 1.5px 0.5px var(--tw-shadow-color),
        inset 0px 0px 1.5px 0.5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.shadow-xs-with-border {
    --tw-shadow: 0px 0px 0px 1px var(--color-slate-300),
        0px 0px 1px 0px var(--color-slate-500),
        0px 1px 2px 0px var(--color-slate-400);
    --tw-shadow-colored: 0px 0px 0px 1px var(--tw-shadow-color),
        0px 0px 1px 0px var(--tw-shadow-color),
        0px 1px 2px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.dark .shadow-xs-with-border {
    --tw-shadow: 0px 0px 0px 1px var(--color-slate-700),
        0px 0px 1px 0px var(--color-slate-900),
        0px 1px 2px 0px var(--color-slate-800);
    --tw-shadow-colored: 0px 0px 0px 1px var(--tw-shadow-color),
        0px 0px 1px 0px var(--tw-shadow-color),
        0px 1px 2px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.bg-grid {
    background-size: 32px;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='.4' fill='%23011E32' fill-opacity='.24'><path fill-rule='evenodd' clip-rule='evenodd' d='M0 .5V6h.5V.5H6V0H0v.5ZM.5 32H0v-6h.5v5.5H6v.5H.5ZM32 0v6h-.5V.5H26V0h6Zm0 31.5V26h-.5v5.5H26v.5h6v-.5Z'/><path opacity='.6' d='M19 0v.5h-6V0zM19 31.5v.5h-6v-.5zM32 19h-.5v-6h.5zM.5 19H0v-6h.5z'/></g></svg>");
}

.dark .bg-grid {
    background-size: 32px;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='.4' fill='%23E9F6FF' fill-opacity='.24'><path fill-rule='evenodd' clip-rule='evenodd' d='M0 .5V6h.5V.5H6V0H0v.5ZM.5 32H0v-6h.5v5.5H6v.5H.5ZM32 0v6h-.5V.5H26V0h6Zm0 31.5V26h-.5v5.5H26v.5h6v-.5Z'/><path opacity='.6' d='M19 0v.5h-6V0zM19 31.5v.5h-6v-.5zM32 19h-.5v-6h.5zM.5 19H0v-6h.5z'/></g></svg>");
}
